source ~/.vimrc

" Reload
nnoremap <leader>re :source ~/.ideavimrc<cr>

" Build & Run
nnoremap <leader>rr :action Run<cr>
nnoremap <leader>cc :action CleanGradleProject<cr>
nnoremap <leader>ss :action Android.SyncProject<cr>

" Debug
nnoremap <leader>dd :action Debug<cr>
nnoremap <leader>bb :action ToggleLineBreakpoint<cr>
nnoremap <leader>only :action CloseAllEditorsButActive<cr>
nnoremap <leader>clear :action CloseAllEditors<cr>

" Window
nnoremap <leader>sp :action SplitVertically<cr>
nnoremap <leader>hsp :action SplitHorizontally<cr>
nnoremap <leader>vsp :action SplitVertically<cr>

" Git
nnoremap <leader>gh :action LocalHistory.ShowHistory<cr>

" Refactor
nnoremap <leader>R :action Refactorings.QuickListPopupAction<cr>
nnoremap <leader>L :action ReformatCode<cr>
nnoremap <leader>ic :action InspectCode<cr>
nnoremap <leader>rm :action ExtractMethod<cr>
nnoremap <leader>rn :action RenameElement<cr>
nnoremap <leader>rf :action RenameFile<cr>
nnoremap <leader>rv :action IntroduceVariable<cr>
nnoremap <leader>rs :action ExtractSuperclass<cr>
nnoremap <leader>ri :action Inline<cr>
nnoremap [e :action GotoNextError<cr>
nnoremap ]e :action GotoPreviousError<cr>

" Tool
nnoremap <leader>fp :action FindInPath<cr>
nnoremap <leader>fu :action FindUsages<cr>
nnoremap <leader>su :action ShowUsages<cr>
nnoremap <leader>ga :action GotoAction<cr>
nnoremap <leader>lc :action ActivateLogcatToolWindow<cr>
nnoremap <leader>sh :action ActivateTerminalToolWindow<cr>
